<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<title>GYM Certifications</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Custom styles for this template -->
<link href="#" th:href="@{/css/gym.css}" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body class="bg-light">

 <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">GYM Certifications</h5>
      <a class="p-2 text-dark" href="#">Profile</a>

	   <a href="#" th:href="@{/logout}">
								 <button type="button" class="btn btn-secondary btn-lg">  Sign out </button>
	   </a>
    </div>


	<section id="main-content">
	
	

		<article>
		
		    <br>
		    <br>
		     <br>
		    <br>
		    
			<table class="container table table-condensed">
    <thead>
      <tr>
        <th>Technology</th>
      </tr>
    </thead>
    <tbody>
    <tr>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="LPI ">LPI </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="CompTIA ">CompTIA </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="VMware ">VMware </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="JAVA/Sun ">JAVA/Sun </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="ISC ">ISC </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="ECCouncil ">ECCouncil </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="CIW ">CIW </a></h3></td>
    </tr>
    <tr>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="CheckPoint ">CheckPoint </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="Juniper ">Juniper </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="Oracle ">Oracle </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="Microsoft ">Microsoft </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="Cisco ">Cisco </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="CWNP ">CWNP </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="Novell ">Novell </a></h3></td>
    </tr>
    <tr>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="EMC ">EMC </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="EXIN ">EXIN </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="Isilon ">Isilon </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="IBM ">IBM </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="PMI ">PMI </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="ISACA ">ISACA </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="HP ">HP </a></h3></td>
    </tr>
    <tr>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="NetApp ">NetApp </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title=" Cloudera "> Cloudera </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title=" Zend "> Zend </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title=" Aruba "> Aruba </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="Hitachi ">Hitachi </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="SNIA ">SNIA </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="Citrix ">Citrix </a></h3></td>
    </tr>
    <tr>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title=" Blue Coat "> Blue Coat </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="iSQI ">iSQI </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="Symantec/Broadcom ">Symantec/Broadcom </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="PRINCE2 ">PRINCE2 </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="Brocade ">Brocade </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title=" Android "> Android </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title=" The Open Group "> The Open Group </a></h3></td>
    </tr>
    <tr>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="Salesforce ">Salesforce </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title="Alcatel-Lucent ">Alcatel-Lucent </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title=" Apple "> Apple </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title=" Amazon "> Amazon </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title=" Fortinet "> Fortinet </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title=" VEEM "> VEEM </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title=" ISEB "> ISEB </a></h3></td>
    </tr>
    <tr>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title=" McAfee "> McAfee </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title=" APICS "> APICS </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title=" Veritas "> Veritas </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title=" Dell "> Dell </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title=" F5 "> F5 </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title=" ACAMS "> ACAMS </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title=" Riverbed "> Riverbed </a></h3></td>
    </tr>
    <tr>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}"title=" Huawei "> Huawei </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title=" Magento "> Magento </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title=" HDI "> HDI </a></h3></td>
    <td>
    <h3><a target="_self" th:href="@{/menu-secundary}" title=" Google "> Google </a></h3></td>
    </tr>
    </tbody>
  </table>
		</article>
		<!-- / article -->

	</section>
	<!-- / #main-content -->
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>