<!DOCTYPE html>
<html lang="en">
<head>
<title>Mario Ruiz Blog Developer</title>

<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Blog Template">
<meta name="author" content="Xiaoying Riley at 3rd Wave Media">
<link rel="shortcut icon" href="favicon.ico">

<!-- FontAwesome JS-->
<script defer
	src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"
	integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7"
	crossorigin="anonymous"></script>

<!-- Plugin CSS -->
<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/monokai-sublime.min.css">

<!-- Theme CSS -->
<link id="theme-style" rel="stylesheet" href="assets/css/theme-1.css">


</head>

<body>

	<header class="header text-center">
		<h1 class="blog-name pt-lg-4 mb-0">
			<a href="index.html">Mario Ruiz</a>
		</h1>

		<nav class="navbar navbar-expand-lg navbar-dark">

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navigation" aria-controls="navigation"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column">
				<div class="profile-section pt-3 pt-lg-0">
					<img class="profile-image mb-3 rounded-circle mx-auto"
						src="assets/images/profile.png" alt="image">

					<div class="bio mb-3">
						Hi, my name is Mario Ruiz. Welcome to my portafolio, here you can
						found more about my work.<br>
						<a href="about.html">Find out more about me</a>
					</div>
					<!--//bio-->
					<ul class="social-list list-inline py-3 mx-auto">
						<li class="list-inline-item"><a
							href="https://twitter.com/MarioRuizMX"><i
								class="fab fa-twitter fa-fw"></i></a></li>
						<li class="list-inline-item"><a
							href="https://www.linkedin.com/in/marioruizlinkedin/"><i
								class="fab fa-linkedin-in fa-fw"></i></a></li>
						<li class="list-inline-item"><a
							href="https://github.com/marioruizcommx"><i
								class="fab fa-github-alt fa-fw"></i></a></li>
						<li class="list-inline-item"><a
							href="https://stackoverflow.com/users/9854902/mario-ruiz"><i
								class="fab fa-stack-overflow fa-fw"></i></a></li>
						<li class="list-inline-item"><a
							href="https://codepen.io/marioruizcommx"><i
								class="fab fa-codepen fa-fw"></i></a></li>
					</ul>
					<!--//social-list-->
					<hr>
				</div>
				<!--//profile-section-->

				<ul class="navbar-nav flex-column text-left">
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/index}"><i class="fas fa-home fa-fw mr-2"></i>Blog
							Home <span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/portafolio}"><i class="fas fa-bookmark fa-fw mr-2"></i>Portafolio</a>
					</li>

				</ul>

				<div class="my-2 my-md-3">
					<a class="btn btn-primary"
						href="https://www.linkedin.com/in/marioruizlinkedin/"
						target="_blank">Add me Linkedin</a>
				</div>

				<a type="button" class="btn btn-secondary btn-sm"
					href="assets/docs/CV_Mario_Ruiz_Gonzalez-English.pdf"
					target="_blank">Download CV</a>

			</div>
		</nav>
	</header>

	<div class="main-wrapper">

		<article class="blog-post px-3 py-5 p-md-5">
			<div class="container">
				<header class="blog-post-header">
					<h2 class="title mb-2">Robotics</h2>
				</header>

				<div class="blog-post-body">
					<figure class="blog-banner">
						<a href="https://made4dev.com"><img class="img-fluid"
							src="assets/images/blog/blog-post-banner2.jpg" alt="image"></a>
					</figure>
					<p>Below I present this project that I carry out under the Arduino technology, it is a quadruped robot with the characteristic that detects objects on the road and performs movements to avoid them, among its main characteristics is that of walking quietly, running, turning the right, turn left in addition to making movements that give more realism.</p>


					<h3 class="mt-5 mb-3">First stable version</h3>
					<p>In this video you can see a test carried out on the first stable version.</p>

					<div class="embed-responsive embed-responsive-16by9">
						<iframe width="560" height="315"
							src="https://www.youtube.com/embed/hZ4__5O8kfo" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
					</div>
					
					<h3 class="mt-5 mb-3">Resources for its construction</h3>
					
					<h5>Materials</h5>
					<ul>
					<li>8 ServoMotor SG90</li>
					<li>1 Mini ProtoBoard </li>
					<li>1 Ultrasonic HC_04 </li>
					<li>1 power supply </li>
					<li>cables 10cm and 20cm </li>
					</ul>
					
					<h5>CorelDraw structure for CNC</h5>
					<p>As a first resource I publish the design that I made in Corel Draw for the robot skeleton, in a new version that I have designed.</p>
	
					
					<figure class="blog-banner">
						<a href="https://made4dev.com"><img class="img-fluid"
							src="assets/images/blog/corel.png" alt="image"></a>
					</figure>
					<h5>Scheme of Connection in Tinkercad</h5>
					<p>As a second resource, I share the wiring diagram of electronic components, just as required for the code to work properly.</p>
					

					
					<figure class="blog-banner">
						<a href="https://made4dev.com"><img class="img-fluid"
							src="assets/images/blog/schema_connection.png" alt="image"></a>
					</figure>
					<h5>Sketch - code in C</h5>
					<p>As a third resource I share, the source code in its first stable version, still needs to design a more complex and versatile algorithm that acquires all these characteristics, but the version that I put at your disposal is already enough to start testing the operation.</p>
					
				    <pre>
					    <code>
void f_pruebaComponentes() {
	f_posicionZero();
	f_caminaSigiloso1();
	f_caminaPanza();
	f_caminaSigiloso();
	f_caminaSigiloso1();
	f_escapaPorDerecha();
	f_posicionAtento();
	f_caminaRobot1();
	f_caminaRobot2();
	f_posicionAgachado();
	f_posicionEspia();
	f_posicionArana();
	f_posicionIncado();
	f_posicionInclinadoDerecha();
	f_posicionInclinadoIzquierda();
	f_posicionLevantaMirada();
	f_posicionAgachaMirada();
	f_escapaPorIzquierda();
	f_posicionAcostado();
	f_posicionAburrido1();
	f_posicionAburrido2(); 
	f_posicionAburrido3();
	f_posicionAburrido4();
	f_posicionAburrido5();

    }


					    </code>
				    </pre>

					<h5>Last comments</h5>
					<p>As advice for the assembly of this project I recommend using a PC power source, in addition to feeding it at 5 volts with a flow of 3000 amps, feeding the arduino at 5 volts independently in addition to gnd joints..</p>

					<h5 class="my-3">Resources:</h5>
					<table class="table table-striped my-5">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Component</th>
								<th scope="col">Resource</th>

							</tr>
						</thead>
						<tbody>

							<tr>
								<th scope="row">2</th>
								<td>CorelDraw structure for CNC</td>
								<td><a type="button" class="btn btn-secondary"
					href="assets/docs/arduinok545_chasis.dxf"
					target="_blank">Download</a></td>

							</tr>
							<tr>
								<th scope="row">3</th>
								<td>Scheme of Connection in Tinkercad</td>
								<td><a type="button" class="btn btn-secondary"
					href="assets/docs/arduinok545_tinkercad.brd"
					target="_blank">Download</a></td>


							</tr>
							<tr>
								<th scope="row">4</th>
								<td>Sketch - code in C</td>
								<td>
								<a type="button" class="btn btn-secondary"
					href="https://github.com/marioruizcommx/arduino.git"
					target="_blank">Github</a></td>
								</td>

							</tr>
							<tr>
								<th scope="row">5</th>
								<td>HC-SR04lib</td>
								<td>
								<a type="button" class="btn btn-secondary"
					href="https://github.com/slaxtrack/HC-SR04lib.git"
					target="_blank">Github</a></td>
								</td>

							</tr>
						</tbody>
					</table>
					



				</div>


			</div>
			<!--//main-wrapper-->
			
			

			<!-- *****CONFIGURE STYLE (REMOVE ON YOUR PRODUCTION SITE)****** -->
			<div id="config-panel" class="config-panel d-none d-lg-block">
				<div class="panel-inner">
					<a id="config-trigger"
						class="config-trigger config-panel-hide text-center" href="#"><i
						class="fas fa-cog fa-spin mx-auto" data-fa-transform="down-6"></i></a>
					<h5 class="panel-title">Choose Colour</h5>
					<ul id="color-options" class="list-inline mb-0">
						<li class="theme-1 active list-inline-item"><a
							data-style="assets/css/theme-1.css" href="#"></a></li>
						<li class="theme-2  list-inline-item"><a
							data-style="assets/css/theme-2.css" href="#"></a></li>
						<li class="theme-3  list-inline-item"><a
							data-style="assets/css/theme-3.css" href="#"></a></li>
						<li class="theme-4  list-inline-item"><a
							data-style="assets/css/theme-4.css" href="#"></a></li>
						<li class="theme-5  list-inline-item"><a
							data-style="assets/css/theme-5.css" href="#"></a></li>
						<li class="theme-6  list-inline-item"><a
							data-style="assets/css/theme-6.css" href="#"></a></li>
						<li class="theme-7  list-inline-item"><a
							data-style="assets/css/theme-7.css" href="#"></a></li>
						<li class="theme-8  list-inline-item"><a
							data-style="assets/css/theme-8.css" href="#"></a></li>
					</ul>
					<a id="config-close" class="close" href="#"><i
						class="fa fa-times-circle"></i></a>
				</div>
				<!--//panel-inner-->
			</div>
			<!--//configure-panel-->



			<!-- Javascript -->
			<script src="assets/plugins/jquery-3.3.1.min.js"></script>
			<script src="assets/plugins/popper.min.js"></script>
			<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

			<!-- Page Specific JS -->
			<script
				src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>

			<!-- Custom JS -->
			<script src="assets/js/blog.js"></script>

			<!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
			<script src="assets/js/demo/style-switcher.js"></script>
</body>
</html>

